{% load staticfiles %}
<!--<link rel="stylesheet" href="{% static 'esearch/css/bootstrap.min.css' %}" /> Download Bootstrap icons to use.-->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'esearch/css/jquery-ui-1.10.0.custom.css' %}" />
<link rel="stylesheet" href="{% static 'esearch/css/jquery.ui.1.10.0.ie.css' %}" />
<!--
<link rel="stylesheet" href="{% static 'esearch/css/jquery-ui-autocomplete.css' %}" />
-->

<script src="{% static 'esearch/js/common/jquery.min.js' %}"></script>
<script src="{% static 'esearch/js/common/jquery-ui-1.9.2.custom.min.js' %}"></script>
<!--
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
-->
<script src="{% static 'esearch/js/common/bootstrap.min.js' %}"></script>
{% load get_from_dict %}
{% load get_from_source %}
{% csrf_token %}

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  	<div class="container">
      <br>
      <div class="row">
        <hr>

        <div class="col-sm-4">
          <h2>Tree</h2>
          <div class="form-group">
            <label for="input-select-node" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-select-node" placeholder="Identify menu node..." value="Shakespeare">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox" id="chk-select-multi" value="false">
              Multi Select
            </label>
            <label>
              <input type="checkbox" class="checkbox" id="chk-select-freesearch" value="false">
              Free Search
            </label>
          </div>
		  <!--
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox" id="chk-select-silent" value="false">
              Silent (No events)
            </label>
          </div>
          <div class="form-group">
              <button type="button" class="btn btn-info select-node" id="btn-select-node">Select Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-info select-node" id="btn-unselect-node">Unselect Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-info select-node" id="btn-toggle-selected">Toggle Node</button>
          </div>
			-->

          <div id="treeview-selectable" class=""></div>
        </div>

        <div class="col-sm-6">
          <h2>Search</h2>
          <div class="form-group">
            <label for="input-select-node" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-field-search" placeholder="Click on the menu item to search..." value="">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger select-node" id="btn-clear-log-query-field">CLEAR</button>
            <button type="button" class="btn btn-success select-node" id="btn-search">SEARCH</button>
            <button type="button" class="btn btn-primary select-node" id="btn-and">AND</button>
            <button type="button" class="btn btn-primary select-node" id="btn-or">OR</button>
            <button type="button" class="btn btn-primary select-node" id="btn-not">NOT</button>
          </div>

        	<div class="events">
        	  <div id="selectable-output"></div>
        	</div>

        </div>

      </div>

	  <br>
	  <div class="row">
        <h2>Free Search</h2>
        <div class="form-group">
          <label for="input-select-node" class="sr-only">Search Tree:</label>
          <input type="input" class="form-control" id="input-free-search" placeholder="Type here to search..." value="">
        </div>
	  </div> <!--row-->
	  <br>
	  <div class="row">
        <div class="events">
          <div id="output-free-search"></div>
        </div>
	  </div> <!--row-->
	  <br>

      <div class="row">
	  <h2>Test Elasticsearch raw output</h2>

		{% if results_list %}
			<ul>
			{% for name in results_list.hits.hits %}
				<li>{{ name|get_from_source:"play_name" }} {{ name|get_from_source:"text_entry" }} {{ name|get_from_source:"speaker" }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No results are available.</p>
		{% endif %}
		
		{% if results_list %}
			<ul>
			{% for name in results_list.hits.hits %}
				<li>{{ name }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No results are available.</p>
		{% endif %}

    </div>
</div> <!-- Container -->


<script src="{% static 'esearch/js/common/bootstrap-treeview.js' %}"></script>
<script src="{% static 'esearch/js/custom-treeview.js' %}"></script>
<script src="{% static 'esearch/js/csrf.js' %}"></script>
  </body>
</html>

