
<!DOCTYPE html>
<html>
  <head>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'esearch/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'esearch/css/dataTables.bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'esearch/css/jquery-ui-1.10.0.custom.css' %}" />
		<link rel="stylesheet" href="{% static 'esearch/css/jquery.ui.1.10.0.ie.css' %}" />

		<script src="{% static 'esearch/js/common/jquery.min.js' %}"></script>
		<script src="{% static 'esearch/js/common/jquery-ui-1.9.2.custom.min.js' %}"></script>
		<script src="{% static 'esearch/js/common/bootstrap.min.js' %}"></script>
		<script src="{% static 'esearch/js/common/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'esearch/js/common/dataTables.bootstrap.min.js' %}"></script>
		<script src="{% static 'esearch/js/common/bootstrap-checkbox.js' %}"></script>
		{% load get_from_dict %}
		{% load get_from_source %}
		{% csrf_token %}
  </head>
  <body>
  	<div class="container">
      <br>
      <div class="row">
        <hr>

        <div class="col-sm-4">
          <h2 id="index-tree">Index Tree</h2>
          <div class="form-group">
            <label for="input-select-node" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-select-node" placeholder="Search for a menu node..." value="Shakespeare">
          </div>
          <div class="checkbox">
            <label> 
              <input type="checkbox" class="checkbox" id="chk-select-freesearch" value="false">
            Free Search</label>
          </div>

          <div id="treeview-selectable" class=""></div>
        </div>

        <div class="col-sm-8" id="input-field-search-div">
          <h2>Search</h2>

          <div class="input-group">
            <label for="input-select-node" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-field-search" placeholder="Type here to search..." value="">
			<span class="input-group-btn">
            	<button type="button" class="btn btn-success logic-btn" id="btn-search">SEARCH</button>
			</span>
          </div>
		  <br>

          <div class="form-group" id="logic-btn-div">
            <button type="button" class="btn btn-danger logic-btn" id="btn-clear-log-query-field">CLEAR</button>
			<!--
            <button type="button" class="btn btn-success logic-btn" id="btn-search">SEARCH</button>
			-->
            <button type="button" class="btn btn-primary logic-btn" id="btn-must">MUST</button>
            <button type="button" class="btn btn-primary logic-btn" id="btn-should">SHOULD</button>
            <button type="button" class="btn btn-primary logic-btn" id="btn-mustnot">MUST NOT</button>
          </div>

			<div class="log_query">
				<textarea class="form-control" id="selectable-output" rows="5"></textarea>
			</div>

			<hr>
			<div id="datatables_btns">
			</div>

        	<div class="events">
        	  <div id="output-free-search"></div>
			  <br>
			  <br>
			  	<div id="main_output_field">
  				</div>
        	</div>

        </div>

      </div>
	  <br>

	  <div class="row">
		<!--
        <div class="col-sm-12 events">
          <div id="output-free-search"></div>
		  <br>
		  	<div id="main_output_field_frees">
  			</div>
        </div>
		-->
	  </div> <!--row-->
	  <br>


</div> <!-- Container -->


<script src="{% static 'esearch/js/common/bootstrap-treeview.js' %}"></script>
<script src="{% static 'esearch/js/custom-treeview.js' %}"></script>
<script src="{% static 'esearch/js/csrf.js' %}"></script>
  </body>
</html>

